.example-spacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar-header-item-selected-light {
  background: rgba(0, 0, 0, .2);
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

mat-toolbar a {
   margin-right: 10px;
}
