.example-spacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar-small {
  display: none;
  flex-direction: row;
  height: 36px;
  padding: 0;
}

.navbar-small a {
  flex-grow: 1;
}

.navbar-header-item-selected-light {
  background: rgba(0, 0, 0, .2);
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  flex-wrap: wrap;
}

.default-navbar a {
   margin-right: 10px;
}

@media (max-width: 599px) {
  .default-navbar a[mat-button] {
    display: none;
  }
  .navbar-small {
    display: flex;
  }
}
