<mat-toolbar color="primary">
  <a [routerLink]="'/' + currentLanguage">JSQuizzy</a>
  <span class="example-spacer"></span>
  <a
    mat-button [routerLink]="'/' + currentLanguage + '/questions'"
    routerLinkActive="navbar-header-item-selected-light"
  >
    QUESTIONS
  </a>
  <a
    mat-button [routerLink]="'/' + currentLanguage + '/tasks'"
    routerLinkActive="navbar-header-item-selected-light"
  >
    TASKS
  </a>
  <button
    mat-icon-button
    [matTooltip]="'navbar.tooltips.theme.light' | translate"
    *ngIf="currentTheme === 'dark-mode'" (click)="toggleTheme()"
  >
    <mat-icon>light_mode</mat-icon>
  </button>
  <button
    mat-icon-button *ngIf="currentTheme === 'light-mode'"
    [matTooltip]="'navbar.tooltips.theme.dark' | translate"
    (click)="toggleTheme()"
  >
    <mat-icon>dark_mode</mat-icon>
  </button>
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    [matTooltip]="'navbar.tooltips.language' | translate"
  >
    <mat-icon>translate</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      role="menuitemradio"
      (click)="switchLanguage('en')"
      disableRipple
      [disabled]="currentLanguage === 'en'"
    >
      {{ 'navbar.language.en' | translate }}
    </button>
    <button
      mat-menu-item
      role="menuitemradio"
      (click)="switchLanguage('ru')"
      disableRipple
      [disabled]="currentLanguage === 'ru'"
    >
      {{ 'navbar.language.ru' | translate }}
    </button>
  </mat-menu>
</mat-toolbar>
