.mat-h1 {
  padding-top: 40px;
  margin-bottom: 40px;
}

.mat-h3 {
  margin: 0;
}

mat-chip-listbox {
  margin-bottom: 16px;
}
.questions-list-container {
  padding: 0 30px 20px 30px;
}
.questions-list {
  margin: 0 auto;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 16px 0 16px 0;
}

mat-divider {
  margin-top: 14px;
  width: 100%;
  flex-grow: 1;
}
mat-expansion-panel-header {
  height: auto !important;
  padding-top: 14px;
  padding-bottom: 14px;
}

mat-panel-title {
  flex-grow: 1;
  margin-right: 16px;
  //align-items: center;
}

mat-panel-description {
  flex-grow: 0;
  justify-content: end;
}
